@import url( 'https://fonts.googleapis.com/css?family=Open+Sans');
@import 'reset';
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?vadg2k');
  src: url('../fonts/icomoon.eot?vadg2k#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?vadg2k') format('truetype'), url('../fonts/icomoon.woff?vadg2k') format('woff'), url('../fonts/icomoon.svg?vadg2k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

button::before,
h2::before,
h3::before,
input::before,
label::after,
label::before,
li::after,
li::before,
output::before,
span::after,
span::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 600;

  &:link {
    color: #373146;
    background-color: transparent;
    text-decoration: none;
  }

  &:visited {
    color: #605971;
    background-color: transparent;
    text-decoration: none;
  }

  &:active {
    color: #605971;
    background-color: transparent;
    text-decoration: underline;
  }
}

html {
  height: 100%;
  background: #eceef4;
}

h2 {
  position: relative;
  text-transform: uppercase;
  color: #6e768f;
  font-weight: 600;
}

img {
  width: 100%;
}

p {
  line-height: 1.4;
}

button {
  position: relative;
  width: 165px;
  height: 50px;
  background: #eceef4;
  border-radius: 4px;
  border: 1px #dadde7 solid;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #9ca0bf;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s box-shadow ease-in;

  &:hover {
    box-shadow: 2px 3px 10px 0 rgba(150, 161, 170, 0.15);
  }

  &[type=submit] {
    background: #5fcac6;
    color: #fff;
  }
}

body {
  min-height: 100%;
  color: #6d6d7d;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;

  & header {
    max-width: 1140px;
    margin: 0 auto;

    & nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & a {
        width: 100px;
        height: 100px;
        margin: 70px 0;
      }

      & button::before {
        content: "\e900";
        font-size: 22px;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
      }

      & button:last-child::before {
        content: "\e90d";
      }
    }
  }

  & {
    counter-reset: section; 
  }
}

form {
  max-width: 1140px;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  border: 1px #ccd3e3 solid;

  & header {
    display: flex;
    border-bottom: 1px #ccd3e3 solid;

    & > section {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 355px);
      padding: 25px 35px 25px 70px;

      & h2::before {
        content: "\e903";
        position: absolute;
        left: -30px;
        font-size: 20px;
        transform: translateY(-10%);
      }

      &:last-child h2::before {
        content: "\e90a";
      }

      &:last-child {
        flex-direction: column;
        width: 355px;
        border-left: 1px #ccd3e3 solid;

        & div {
          display: flex;
          justify-content: flex-start;

          & a:last-child {
            margin-left: 10px;
          }
        }
      }

      & div:nth-child(1) {
        width: 100%;
      }

      & div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }

    & table {
      margin: 35px 0 25px;
      width: 100%;
      text-align: left;
    }

    & tr {
      display: flex;
    }

    & th {
      width: 25%;
      font-weight: 600;
      text-transform: uppercase;
    }

    & td {
      width: 25%;
      margin-top: 15px;
    }
  }
}

main {
  display: flex;
  flex-direction: column;

  & > fieldset {
    position: relative;
    margin: 0 110px 0 130px;

    &:nth-child(1) {
      & h2 {
        padding: 105px 0 85px;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 2.5px;
        text-align: center;
      }

      & div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 110px;

        & label {
          position: relative;
          width: calc(280 / 900 * 100%);
          height: 201px;
          cursor: pointer;

          &:nth-child(1) {
            & input {
              background: url("../img/website.png") no-repeat 50% 50%;
              background-size: cover;
            }
          }

          &:nth-child(2) {
            & input {
              background: url("../img/documents.png") no-repeat 50% 50%;
              background-size: cover;
            }
          }

          &:nth-child(3) {
            & input {
              background: url("../img/social-accounts.png") no-repeat 50% 50%;
              background-size: cover;
            }
          }

          & input {
            all: unset;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 1;

            &:focus {
              outline: 1px solid #76a7e1;
            }

            &:checked {
              position: relative;
              width: 100%;
              height: 100%;
              border-radius: 4px;
              box-shadow: inset 0 0 0 6px #76a7e1;
              box-sizing: border-box;

              &::before {
                content: "\e902";
                position: absolute;
                top: -7px;
                right: -7px;
                display: block;
                background: #fff;
                border-radius: 50%;
                font-size: 25px;
                color: #76a7e1;
              }
            }
          }
        }
      }
    }

    &:nth-child(2) {
      & h2 {
        font-size: 20px;
        font-weight: 300;
        text-transform: unset;

        & small {
          margin-left: 15px;
          font-size: 12px;
        }
      }

      & label {
        position: relative;
        display: inline-block;
        width: 235px;
        height: 50px;
        margin: 60px 0 40px;
        background: #eceef4;
        border-radius: 4px;
        border: 1px #ccd3e3 solid;

        &::before {
          content: "\e913";
          position: absolute;
          top: 50%;
          left: 30px;
          transform: translateY(-50%);
          font-size: 20px;
        }

        &::after {
          content: 'Upload a new file';
          position: absolute;
          top: 50%;
          left: 60px;
          transform: translateY(-50%);
          font-family: "Opens Sans", sans-serif;
          font-size: 14px;
        }

        & input {
          width: 100%;
          height: 100%;
          opacity: 0;

          &:focus ~ span {
            outline-color: rgb(77, 144, 254);
            outline-style: auto;
            outline-width: 5px;
          }
        }

        & span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      & div {
        padding: 30px 45px;
        border: 1px #ccd3e3 solid;
        border-radius: 3px;
      }

      & table {
        width: 100%;
        text-align: left;

        & tr {
          display: flex;
          justify-content: space-between;

          & td:first-child {
            & output {
              position: relative;
              margin-left: 20px;

              &::before {
                content: "\e907";
                position: absolute;
                top: 50%;
                left: -20px;
                transform: translateY(-50%);
                font-size: 15px;
              }
            }
          }
        }

        & th {
          text-transform: uppercase;
        }

        & th,
        td {
          width: 20%;
          height: 30px;

          &:first-child {
            width: 40%;
          }

          & button {
            all: unset;
            position: relative;
            width: 30px;
            height: 30px;
            margin-right: auto;
            cursor: pointer;

            &:focus {
              outline-color: #4d90fe;
              outline-style: auto;
              outline-width: 5px;
            }

            &::before {
              content: "\e911";
              position: absolute;
              left: 50%;
              top: 0;
              transform: translateX(-50%);
              font-size: 15px;
            }
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: -13px;
        left: -70px;
        display: block;
        width: 45px;
        height: 45px;
        border: 1px #757d95 solid;
        border-radius: 50%;
      }

      &::after {
        counter-increment: section;
        content: counter(section);
        position: absolute;
        top: 0;
        left: -53px;
        font-size: 20px;
      }
    }

    &:nth-child(3) {
      margin-top: 115px;

      & h2 {
        font-size: 20px;
        font-weight: 300;
        text-transform: unset;
      }

      & > div {
        margin-top: 50px;
      }

      & div {
        position: relative;
        width: 200px;
        height: 50px;
        margin-left: 50px;

        &::before {
          content: '';
          position: absolute;
          right: 50px;
          top: 0;
          display: block;
          width: 2px;
          height: 100%;
          background: #ccd3e3;
          pointer-events: none;
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 25px;
          border-style: solid;
          border-width: 5px 3px 0 3px;
          border-color: #9199b8 transparent transparent transparent;
          pointer-events: none;
        }

        & span {
          position: absolute;
          top: 50%;
          left: -50px;
          transform: translateY(-50%);
          text-transform: uppercase;

          &:last-child {
            left: -30px;
          }
        }

        & select {
          appearance: none;
          -moz-appearance: none;
          /* Firefox */
          -webkit-appearance: none;
          /* Safari and Chrome */
          width: 100%;
          height: 100%;
          padding-left: 50px;
          background: #eceef4;
          border-radius: 4px;
          border: 1px #ccd3e3 solid;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          cursor: pointer;

          & option {
            width: 200px;
            height: 50px;
          }
        }
      }

      & section {
        display: flex;
        margin-top: 40px;

        & div:nth-child(2) {
          margin-left: 30px;
        }

        & button {
          position: relative;
          width: 120px;
          padding-left: 55px;
          text-align: left;

          &::before {
            content: "\e90b";
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        & div + button {
          all: unset;
          position: relative;
          width: 50px;
          height: 50px;
          cursor: pointer;

          &::before {
            content: "\e911";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 15px;
          }

          &:focus {
            outline-color: rgb(77, 144, 254);
            outline-style: auto;
            outline-width: 5px;
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: -13px;
        left: -70px;
        display: block;
        width: 45px;
        height: 45px;
        border: 1px #757d95 solid;
        border-radius: 50%;
      }

      &::after {
        counter-increment: section;
        content: counter(section);
        position: absolute;
        top: 0;
        left: -53px;
        font-size: 20px;
      }
    }

    &:nth-child(4) {
      margin-top: 105px;

      & div {
        display: flex;

        & h2 {
          text-transform: unset;
          margin-bottom: 45px;
          font-size: 20px;
          font-weight: 300;
        }

        & section {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 50%;

          &:nth-child(1) {
            & label {
              position: relative;
              width: 237px;
              height: 72px;
              margin-bottom: 20px;
              background: #eceef4;
              border-radius: 4px;
              border: 1px #ccd3e3 solid;
              cursor: pointer;

              & input {
                all: unset;
                display: block;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                outline: #76a7e1;

                &:checked {
                  position: relative;
                  width: 100%;
                  height: 100%;
                  border-radius: 4px;
                  box-shadow: inset 0 0 0 6px #76a7e1;
                  box-sizing: border-box;

                  &::before {
                    content: "\e902";
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    display: block;
                    background: #fff;
                    border-radius: 50%;
                    font-size: 25px;
                    color: #76a7e1;
                  }
                }
              }

              & span {
                position: absolute;
                top: 50%;
                left: 80px;
                transform: translateY(-50%);
                font-size: 14px;
                pointer-events: none;
              }

              &:nth-child(2) {
                & > span {
                  &::after {
                    content: "\e905";
                    position: absolute;
                    top: 50%;
                    left: -30px;
                    transform: translateY(-50%);
                    font-size: 20px;
                  }
                }
              }

              &:nth-child(3) {
                & > span {
                  &::after {
                    content: "\e910";
                    position: absolute;
                    top: 50%;
                    left: -30px;
                    transform: translateY(-50%);
                    font-size: 20px;
                  }
                }
              }

              &:nth-child(4) {
                & > span {
                  &::after {
                    content: "\e90f";
                    position: absolute;
                    top: 50%;
                    left: -30px;
                    transform: translateY(-50%);
                    font-size: 20px;
                  }
                }
              }
            }
          }

          &:nth-child(2) {
            & h2 {
              padding-left: 70px;
            }

            & input[type=range] {
              position: relative;
              align-self: center;
              appearance: none;
              -moz-appearance: none;
              /* Firefox */
              -webkit-appearance: none;
              /* Safari and Chrome */
              width: 80%;
              height: 10px;
              outline: transparent;
              cursor: pointer;

              &::-webkit-slider-thumb {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                appearance: none;
                -moz-appearance: none;
                /* Firefox */
                -webkit-appearance: none;
                /* Safari and Chrome */
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #edbe76;
                z-index: 2;
              }

              &::-moz-range-thumb {
                position: relative;
                top: 50%;
                appearance: none;
                -moz-appearance: none;
                /* Firefox */
                -webkit-appearance: none;
                /* Safari and Chrome */
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #edbe76;
                z-index: 2;
              }

              &::-ms-thumb {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                appearance: none;
                -moz-appearance: none;
                /* Firefox */
                -webkit-appearance: none;
                /* Safari and Chrome */
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #edbe76;
                z-index: 2;
              }

              &::after {
                content: '';
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #d6d8e2;
                z-index: 1;
              }

              &::before {
                content: '';
                position: absolute;
                right: 0;
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #d6d8e2;
                z-index: 1;
              }

              &::-webkit-slider-runnable-track {
                appearance: none;
                -moz-appearance: none;
                /* Firefox */
                -webkit-appearance: none;
                /* Safari and Chrome */
                width: 100%;
                background: #eff0f5;
                height: 100%;
                border-radius: 5px;
              }

              &::-moz-range-track {
                position: relative;
                appearance: none;
                -moz-appearance: none;
                /* Firefox */
                -webkit-appearance: none;
                /* Safari and Chrome */
                width: 100%;
                background: #eff0f5;
                height: 100%;
                border-radius: 5px;
              }

              &::-ms-track {
                appearance: none;
                -moz-appearance: none;
                /* Firefox */
                -webkit-appearance: none;
                /* Safari and Chrome */
                width: 100%;
                background: #eff0f5;
                height: 100%;
                border-radius: 5px;
              }
            }

            & div {
              display: flex;
              justify-content: space-between;
              text-transform: uppercase;
              margin-top: 20px;
            }

            & legend {
              margin-top: 60px;
              padding: 30px 45px 30px 65px;
              border: 1px #eff0f5 solid;

              & h3 {
                position: relative;
                text-transform: uppercase;
                font-size: 14px;
                margin-bottom: 25px;

                &::before {
                  content: "\e90b";
                  position: absolute;
                  top: 50%;
                  left: -25px;
                  transform: translateY(-50%);
                  font-size: 20px;
                }
              }

              & strong {
                text-transform: uppercase;
                color: #edbe76;
              }
            }
          }

          &::before {
            content: '';
            position: absolute;
            top: -13px;
            left: -70px;
            display: block;
            width: 45px;
            height: 45px;
            border: 1px #757d95 solid;
            border-radius: 50%;
          }
    
          &::after {
            counter-increment: section;
            content: counter(section);
            position: absolute;
            top: 0;
            left: -53px;
            font-size: 20px;
          }
        }
      }
    }

    &:nth-child(5) {
      margin-top: 105px;

      & h2 {
        font-size: 20px;
        font-weight: 300;
        text-transform: unset;
      }

      & p {
        margin: 60px 0 15px;
      }

      & div {
        display: flex;
        flex-wrap: wrap;

        & label {
          display: flex;
          flex-direction: column;
          width: 100%;

          &:nth-child(2) {
            width: 50%;
          }

          &:nth-child(3) {
            width: 50%;
          }

          & span {
            text-transform: uppercase;
            padding: 35px 0 10px 10px;
          }

          & fieldset {
            position: relative;
            display: inline-block;
          }

          & div {
            position: absolute;
            top: 0;
            width: 300px;
            height: 50px;
          }

          & input {
            width: 300px;
            height: 50px;
            padding: 15px;
            border: 2px #eff0f5 solid;
            border-radius: 4px;

            &:valid ~ div {
              &::before {
                content: "\e902";
                position: absolute;
                top: 50%;
                left: 270px;
                transform: translateY(-50%);
                font-family: 'icomoon';
                font-size: 20px;
                color: #76a7e1;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }
            }

            &:focus:invalid ~ div {
              &::before {
                content: "\e904";
                position: absolute;
                top: 50%;
                left: 270px;
                transform: translateY(-50%);
                font-family: 'icomoon';
                font-size: 20px;
                color: #e17776;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }
            }
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: -13px;
        left: -70px;
        display: block;
        width: 45px;
        height: 45px;
        border: 1px #757d95 solid;
        border-radius: 50%;
      }

      &::after {
        counter-increment: section;
        content: counter(section);
        position: absolute;
        top: 0;
        left: -53px;
        font-size: 20px;
      }
    }

    &:nth-child(6) {
      padding-top: 65px;

      & section:nth-child(1) {
        display: flex;
        justify-content: space-between;
        width: 80%;

        & label {
          position: relative;
          width: 30%;
          height: 98px;
          cursor: pointer;

          &:nth-child(1) {
            & input {
              background: url("../img/payment-1.png") no-repeat 50% 50%;
              background-size: cover;
            }
          }

          &:nth-child(2) {
            & input {
              background: url("../img/payment-2.png") no-repeat 50% 50%;
              background-size: cover;
            }
          }

          &:nth-child(3) {
            & input {
              background: url("../img/payment-3.png") no-repeat 50% 50%;
              background-size: cover;
            }
          }

          &:not(:last-child) {
            margin-right: 35px;
          }

          & input {
            all: unset;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 1;
            border-radius: 4px;
            box-sizing: border-box;

            &:checked {
              position: relative;
              width: 100%;
              height: 100%;
              box-shadow: inset 0 0 0 7px #76a7e1;

              &::before {
                content: "\e902";
                position: absolute;
                top: -7px;
                right: -7px;
                display: block;
                background: #fff;
                border-radius: 50%;
                font-size: 25px;
                color: #76a7e1;
              }
            }
          }
        }
      }

      & section:nth-child(2) {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-top: 80px;

        & label {
          display: flex;
          flex-direction: column;
          margin: 0;

          &:nth-child(1) {
            position: relative;
            width: 50%;

            &::before {
              content: "\e901";
              position: absolute;
              right: 15px;
              bottom: 7px;
              font-size: 35px;
            }
          }

          &:nth-child(2) {
            width: 25%;
          }

          &:nth-child(3) {
            width: 15%;
          }

          & span {
            text-transform: uppercase;
            padding: 0 0 13px 8px;
          }

          & input {
            height: 50px;
            padding: 15px;
            border: 2px #eff0f5 solid;
            border-radius: 4px;
            text-align: center;

            &:focus::-webkit-input-placeholder {
              color: transparent;
            }

            &:focus:-moz-placeholder {
              color: transparent;
            }

            &:focus::-moz-placeholder {
              color: transparent;
            }

            &:focus:-ms-input-placeholder {
              color: transparent;
            }
          }
        }
      }
    }

    &:nth-child(7) {
      padding: 110px 0 75px;
      text-align: right;

      & button {
        margin-left: 30px;
      }
    }
  }
}

footer {
  margin-top: 130px;
  background: #444a62;
  color: #b7bed8;

  & section {
    max-width: 1140px;
    padding: 100px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    & aside {
      width: 25%;
      padding-left: 40px;

      & em {
        line-height: 1.4;
      }

      address {
        margin: 15px 0;
      }

      & h2 {
        position: relative;
        margin-bottom: 25px;
        color: #b7bed8;

        &::before {
          position: absolute;
          top: 50%;
          left: -40px;
          transform: translateY(-50%);
          font-size: 20px;
        }
      }

      &:nth-child(1) {
        & h2::before {
          content: "\e909";
        }
      }

      &:nth-child(2) {
        & h2::before {
          content: "\e906";
        }
      }

      &:nth-child(3) {
        & h2::before {
          content: "\e90e";
        }
      }
    }

    & > a {
      display: block;
      width: 100px;
      height: 100px;
    }
  }

  & a {
    color: #b7bed8;

    &:link {
      color: #b7bed8;
    }
  }

  & li {
    position: relative;
    margin: 15px 0;

    &::before {
      position: absolute;
      top: 50%;
      left: -27px;
      transform: translateY(-50%);
      font-size: 10px;
      color: #444A62;
      pointer-events: none;
      z-index: 2;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -31px;
      display: block;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      transform: translateY(-50%);
      background-color: #cdd4e3;
      pointer-events: none;
      z-index: 1;
    }

    &:nth-child(1) {
      &::before {
        content: "\e908";
      }
    }

    &:nth-child(2) {
      &::before {
        content: "\e912";
      }
    }

    &:nth-child(3) {
      &::before {
        content: "\e90c";
      }
    }

    & a {
      margin-left: -31px;
      padding-left: 31px;

      &:link {
        color: #b7bed8;
      }

      &:visited {
        color: #b7bed8;
      }
    }
  }
}